html {
  background: #ccc;
}
.game {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.score-box.finished {
  font-family: Comic Sans MS;
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
}
.panel {
  background: #eef;
  border: 4px double black;
  position: relative;
  width: 400px;
  height: 400px;
}
.target {
  position: absolute; 
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 31px;
}
.target[status=broken1] {
	background-image: url(images/target-broken-1.gif);
}
.target[status=broken2] {
	background-image: url(images/target-broken-2.gif);
}
